<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>393135635849-ospjl754hi14c4jc9t35h2f726q57hdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393135635849-ospjl754hi14c4jc9t35h2f726q57hdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAvUHZOBnLynP31vLxRA8UlZ_0AJizg2pc</string>
	<key>GCM_SENDER_ID</key>
	<string>393135635849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jimmy.boomsauce</string>
	<key>PROJECT_ID</key>
	<string>temptitle-5df50</string>
	<key>STORAGE_BUCKET</key>
	<string>temptitle-5df50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:393135635849:ios:3ffe368d7d7ddf8b</string>
	<key>DATABASE_URL</key>
	<string>https://temptitle-5df50.firebaseio.com</string>
</dict>
</plist>
